
.wrapper {
	padding-block: 0.9em;
	.col();
}

.images {

	&_wrapper {
		display: flex;
		flex-direction: column;
	}

	&_summary {
		&_wrapper {
			display: flex;
			justify-content: space-between;
		}
		&_start {
			display: flex;
		}
		&_end {
			display: flex;
			gap: 0.5em;
		}
	}

	&_list {
		display: flex;
		flex-direction: column;
		padding-block: 0.3em;
		gap: 0.3em;
	}

}

.name_container {
	.title(@h4);
	margin: 0;
}

.description_container {
	font-size: @small;
}
