
body {
	.bg(#FFF, #222);
}

#app {
	height: 100%;
	.col();
	position: relative;
	max-width: unset;
}

.lang_btn {
	position: fixed;
	inset: auto auto 1em 1em;
	z-index: 9;
}

.bg {
	position: fixed;
	inset: 0;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.bgi(
		radial-gradient(circle at 50% 70%, #FFF7, #FFF 90%),
		url("/fondo.png"),
		radial-gradient(circle at 50% 70%, #3337, #222 90%), 
		url("/fondo.png")
	);
}
@media (prefers-color-scheme: dark) {

	img[src$=".svg"] {
		filter: invert(100%);
	}
}

.section_wrapper {
	width: 100%;
	height: 100%;
	padding: @block @inline;
	background: canvas;

	.section_content {
		.col(flex-start, start);
		gap: 0.3em;
		width: 100%;
		max-width: 1200px;
		margin-inline: auto;

	}
}

.hero {
	&_wrapper {
		background: unset;
		.section_content {
			justify-content: center;
			align-items: center;
			min-height: calc(100vh - @block * 2);
		}
	}

	&_logo {
		font-size: 2.2em;
		font-weight: bold;
	}
	&_links {
		display: flex;
		gap: .5em;
	}

	&_link {
		display: flex;
	}
}

.about {
	&_wrapper {
		// .bgi(
		// 	linear-gradient(170deg, 
		// 		hsl(142, 30%, 54%) 55%, hsl(166, 50%, 39%)
		// 	),
		// 	linear-gradient(170deg, 
		// 		hsl(150, 40%, 33%), hsl(166, 40%, 34%)
		// 	),
		// );

		.bg(hsl(120, 5%, 85%), hsl(146, 5%, 26%));

		.section_content {
			min-height: unset;
		}
	}
	
	._title(@mega, uppercase);

	&_info {
		font-size: @big;
		text-align: justify;
	}

	&_down {
		width: 100%;
		.row(center);
	}
}


.projects {
	&_wrapper {
		.section_content {
			width: 100%;
		}
	}
	._title(@mega, uppercase);

	&_info {
		width: 100%;
		.row(flex-end, center)
	}

	&_link {
		.title(@mega);
	}
}

.contact {
	&_wrapper {
		.bg(hsl(120, 5%, 85%), hsl(146, 5%, 26%));
		.section_content {
			width: 100%;

			min-height: unset;
			padding-bottom: 3.2em;
		}
	}
	._title(@mega, uppercase);
	&_body_wrapper {
		display: flex;
		width: 100%;
	}

	&_message_wrapper {
		width: 100%;
	}
	
	&_info {
		&_wrapper {
			display: flex;
			flex-direction: column;

		}


		&_link {
			white-space: nowrap;
		}
	}
}