

.card {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	padding: 0.4em;
	box-shadow: 0 0 0.2em #9999;
	background: canvas;
}

.title(@size: 1.4em, @trf: none) {
	font-size: @size;
	font-weight: bold;
	text-transform: @trf;
	white-space: nowrap;
}

._title(@size: 1.4em, @trf: none) {
	&_title {
		font-size: @size;
		text-transform: @trf;
		font-weight: bold;
		white-space: nowrap;
	}
}

@mw: 1200px;

@mega: 2.0em;

@h1: 1.6em;
@h2: 1.4em;
@h3: 1.2em;
@h4: 1.1em;
@h5: 1.0em;

@big: 1.4em;
@main: 1.0em;
@small: 0.8em;

@bg: 1, 2, 3;

@block: 9em;
@inline: 1.2em;

.bgi(@l, @d) {
	background-image: @l;
	@media (prefers-color-scheme: dark) {
		background-image: @d;
	}
}

.bgi(@l1, @l2, @d1, @d2) {
	background-image: @l1, @l2;
	@media (prefers-color-scheme: dark) {
		background-image: @d1, @d2;
	}
}