
#app {
	display: flex;
	flex-direction: column;
	gap: 0;
}
.title {
	&_wrapper {
		padding-inline: @inline;

	}

	._title(@h1);
}
.list_wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 26vh;
	padding: 0 @inline (@block/2);
}