
.wrapper {
	.card();
}

.images {

	&_wrapper {
		display: flex;
		flex-direction: column;
	}

	&_summary {
		&_wrapper {
			display: flex;
			justify-content: space-between;
		}
		&_start {
			display: flex;
		}
		&_end {
			display: flex;
			gap: 0.5em;
		}
	}

	&_list {
		display: flex;
		flex-direction: column;
		padding-block: 0.3em;
		gap: 0.3em;
	}

}

.show {
	&_wrapper {
		.col();
	}
	._title(@h3);

	&_tools {
		width: 100%;
		.row(flex-end, center)
	}
}

.banner_wrapper {
	padding: 0.5em;
	display: flex;
}


